<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Document</title>
</head>
<body class="container-md">
    <div>
        <h1>
            Welcome To INEC Result Portal Clone
        </h1>
        <h3>
            What would you like to do?  <br>
            Kindly choose from options below
        </h3>
    </div>
    <div>
        <ul>
            <li>
                <a href="{% url 'dbModels:pu_result' %}">Check Polling Units Results</a>
            </li>
            <li>
                <a href="{% url 'dbModels:lga_result' %}">Check LGA summed Results</a>
            </li>
            <li>
                <a href="{% url 'dbModels:new_pu' %}">Upload New Polling Unit Result</a>
            </li>
            <li>
                <a href="{% url 'dbModels:tshirt' %}">Choose shirt color</a>
            </li>
        </ul>
    </div>
    <div>
        <p>You could visit the <a href="../admin">admin</a> page to view our models</p>
        <p>login details</p>
        <p><strong>username: clemcy9@gmail.com</strong></p>
        <strong>password: 08020366909</strong>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>