<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Polling unit result</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    .dropdown-submenu {
    position: relative;
    }

    .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    }
    </style>
</head>
<body>
    <div class="container-md mx-auto">
        <h1>
            Polling unit results cccc
        </h1>
    </div>
    <div class="mb-3 container-md">
       <!-- Lga option -->
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Choose LGA</option>
        {% for lga in lgas %}
            <option value="{{lga.lga_id}}">{{lga.lga_name}}</option>
            
        {% endfor %}
      </select>
      <select class="form-select form-select-md mb-3" aria-label=".form-select-md mb-3 example">
        <option selected>Choose Ward</option>
        {% for ward in lga.ward_set.all %}
        <option value="1">{{ward}}</option>
        {% endfor %}
      </select>
      
      
      <select class="form-select form-select-md mb-3" aria-label=".form-select-md mb-3 example">
        <option selected>Choose Polling Unit</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <button type="button" class="btn btn-outline-primary">Check</button>
      <div class="mb-3 mt-3">
        <label for="exampleFormControlTextarea1" class="form-label">Result area</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" >helo</textarea>
      </div>
    <div class="mt-3">
        <h3>
            Go back <a href="{% url 'dbModels:home' %}">home</a>
        </h3>
    </div>

    <div class="container">
        <h2>Multi-Level Dropdowns</h2>
        <p>In this example, we have created a .dropdown-submenu class for multi-level dropdowns (see style section above).</p>
        <p>Note that we have added jQuery to open the multi-level dropdown on click (see script section below).</p>                                        
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials</button>
          <ul class="dropdown-menu">
            {% for lga in lgas %}
            <li><a tabindex="-1" href="#">{{lga}}</a></li>
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="#">{{lga}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for ward in lga.ward_set.all() %}
                <li><a tabindex="-1" href="#">{{ward}}</a></li>
                <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                {% endfor %}
                <li class="dropdown-submenu">
                  <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">3rd level dropdown</a></li>
                    <li><a href="#">3rd level dropdown</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
          $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
          });
        });
        </script>
</body>
</html>